html, body {
  padding: 1em 1em;
}

.brand {
  width: 150px;
  margin-bottom: 2em;
}

body {
  padding-bottom: 6em;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  margin-top: 4em;
  margin-bottom: 50px;
}

h1, h2 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
  margin-bottom: .2em;
}

h2 {
  font-weight: normal;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-group {
  margin-bottom: 80px;
}

.project-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-card {
  width: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.project-card img {
  width: 100%;
  box-shadow: 1px 1px 2px grey;
}

.project-card h3 {
  font-family: sans-serif;
  margin-top: 1em;
  margin-bottom: 0em;
}

.project-card p {
  margin-top: .5em;
}
