<header class="primary">
  <div class="top">
    <div class="one">
      <a href="/">
        <img src="/images/lofty-logo.png" class="brand">
      </a>
      <div class="name-detail">
        <h1 class="name-detail"><a href="/" class="discreet-link">Max Heinritz</a></h1>
        <div class="email">
          <a href="mailto:maxheinritz@gmail.com">maxheinritz@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="two">
      <h1 class="name-detail"><a href="/" class="discreet-link">Max Heinritz</a></h1>
      <ul class="roles">
        <li>
          <span class="role">Software Engineer</span>
        </li>
        <li>
          <span class="role">Lighting & Interior Designer</span>
        </li>
        <li class="name-detail email">
          <a href="mailto:maxheinritz@gmail.com">maxheinritz@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>
</header>
