{% if page.title %}
  {% assign title = page.title + " | Max Heinritz" %}
{% else %}
  {% assign title = site.title %}
{% endif %}
{% assign desc = page.desc | default: site.desc %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:url" content="http://maxheinritz.com">
  <meta property="og:site_name" content="{{ title }}">
  <title>{{ title }}</title>
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ desc }}">
  <meta property="og:title" content="{{ title }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ desc }}">
  <meta name="description" content="{{ desc }}" />
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" type="text/css" href="/syntax.css">
  <script src="/script.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107992017-1"></script>
  <script>
    // Set up Google Analytics.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-107992017-1');

    // Hide the main section until all images load to avoid ugly incremental render.
    window.onload = function() {
      const loader = document.querySelector(".loader");
      if (loader) loader.classList.add("hidden");
      document.querySelector("main").classList.remove("hidden");
    };
  </script>
</head>
