<header class="primary">
  <div class="top">
    <div class="one">
      <a href="/">
        <img src="/images/lofty-logo.png" class="brand">
      </a>
      <div class="name-detail">
        <h1>Max Heinritz</h1>
        <div class="email">
          maxheinritz <span class="intermediate">at</span> gmail <span class="intermediate">dot</span> com
        </div>
      </div>
    </div>
    <div class="two">
      <h1 class="name-detail">Max Heinritz</h1>
      <ul>
        <li>
          software engineer
          <span class="role">
            currently at
            <a href="https://www.flexport.com">Flexport</a><span class="comma">,</span>
          </span>
          <span class="role">
            formerly at
            <a href="https://earthengine.google.com">
              Google Earth Engine
            </a>
          </span>
        </li>
        <li>
          lighting and interior designer
          <span class="role">
            featured in
            <a href="https://www.dwell.com/home/maxs-apartment-8ea8fae9">
              Dwell magazine
            </a>
          </span>
        </li>
        <li class="name-detail email">
          <div>maxheinritz <span class="intermediate">at</span> gmail <span class="intermediate">dot</span> com</div>
        </li>
      </ul>
    </div>
  </div>
</header>
