<header class="primary">
  <div class="top">
    <div class="one">
      <a href="/">
        <img src="/images/lofty-logo.png" class="brand">
      </a>
      <div class="name-detail">
        <h1 class="name-detail"><a href="/" class="discreet-link">Max Heinritz</a></h1>
        <div class="email">
          <a href="mailto:maxheinritz@gmail.com">maxheinritz@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="two">
      <h1 class="name-detail"><a href="/" class="discreet-link">Max Heinritz</a></h1>
      <ul class="roles">
        <li>
          <span class="role">Software Engineer</span>
          <span class="role-detail">
            currently at
            <a href="https://www.flexport.com">Flexport</a><span class="comma">,</span>
          </span>
          <span class="role-detail long">
            formerly at
            <a href="https://earthengine.google.com">Google Earth Engine</a>
          </span>
          <span class="role-detail brief">
            formerly at
            <a href="https://earthengine.google.com">Earth Engine</a>
          </span>
        </li>
        <li>
          <span class="role">Lighting & Interior Designer</span>
          <span class="role-detail">
            featured in
            <a href="https://www.dwell.com/home/maxs-apartment-8ea8fae9">Dwell magazine</a>
          </span>
        </li>
        <li class="name-detail email">
          <a href="mailto:maxheinritz@gmail.com">maxheinritz@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>
</header>
