{% extends 'base.html' %}
{% block content %}
  <header class="primary">
    <img src="/assets/lofty-logo.png" class="brand">
    <h1>Max Heinritz</h1>
    <div class="subtitle">software, design, mindfulness, san francisco</div>
    <ul class="links">
      <li><a href="https://github.com/maxh">github</a></li>
      <li><a href="https://www.linkedin.com/in/maxheinritz">linkedin</a></li>
      <li><a href="https://www.pinterest.com/maxheinritz/">pinterest</a></li>
      <li><a href="https://www.google.com/maps/contrib/102217125735823374958/reviews/@37.7668935,-122.4823706,12z/data=!4m3!8m2!3m1!1e1">places<a> (scroll the left panel)</li>
      <li><a href="https://medium.com/@maxheinritz">writing</a></li>
      <li><a href="https://twitter.com/maxheinritz">twitter</a></li>
    </ul>
  </header>
{% endblock %}
