<!doctype html>
<html lang="en">
  {% include head.html %}
  <body class="home">
    {% include header.html %}
    <script>
      window.onload = function() {
        document.querySelector("main").classList.remove("hidden");
      };
    </script>
    <main class="hidden">
      <div class="columns">
        {% for project in site.projects %}
          <a href="{{ project.url }}">
            <div class="pin">
              <img src="/images/{{ project.images.first }}">
            </div>
          </a>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
